<html>
  <head>
    <%- include('partials/__head'); %>
  </head>
  <body>
    <%- include('partials/__header'); %>
    <div class="content">
      <h2 class="title">Confirm your email</h2>
      <p class="message">
        You need to confirm this email address. To do so, please on
        <a target="_blank" href="<%= data.url %>">this link</a>
      </p>
    </div>
    <%- include('partials/__footer'); %>
  </body>
</html>
