<html>
  <head>
    <%- include('partials/__head'); %>
  </head>
  <body>
    <%- include('partials/__header'); %>
    <div class="content">
      <h2 class="title">Reset your password</h2>
      <p class="message">
        You asked for resetting your password. To do so, please follow
        <a target="_blank" href="<%= data.url %>">this link</a>
      </p>
    </div>
    <%- include('partials/__footer'); %>
  </body>
</html>
